@import "../css/fonts.css";
@import "../css/colors.css";
@import "../css/Typography.css";
@import "../css/utils.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
	:root {
		@apply [--border-width:2px] xl:[--border-width:3px] min-[1600px]:[--border-width:3.5px];
	}

	@media (min-width: "1200px") {
		:root {
			--border-width: 4px;
		}
	}
	body {
		@apply relative mx-auto   grid
		bg-light font-mono-sans text-primary-dark  dark:bg-dark dark:text-white
		dark:[--gradient-border-color:var(--dark-gradient-border)] lg:grid-cols-[auto_1fr];

		grid-template-areas:
			"header main main"
			"header main main"
			"header footer footer";
	}
	@media (max-width: 1012px) {
		body {
			grid-template-areas:
				"header header header"
				"main main main"
				"footer footer footer";
		}
	}
	p {
		@apply text-primary-dark dark:text-gray;
	}
}
@layer components {
	.btn {
		border-radius: 6px;
		padding: 8px 28px 8px 28px;
	}
	.gradient-border {
		@apply relative;
	}
	.gradient-border > * {
		@apply z-10;
	}

	.gradient-border::before {
		@apply absolute inset-0 -z-40 h-full w-full rounded-lg [--gradient-border-color:var(--light-gradient-border)] dark:[--gradient-border-color:var(--dark-gradient-border)];
		content: "";
		background-image: var(--gradient-border-color);
	}
	.gradient-border::after {
		@apply absolute left-[calc(var(--border-width)/2)] top-[calc(var(--border-width)/2)]  -z-30 rounded-lg bg-[rgb(235,235,235)] dark:bg-dark;
		width: calc(100% - var(--border-width));
		height: calc(100% - var(--border-width));
		content: "";
	}

	.layout-1x2:nth-of-type(odd) > .first {
		@apply lg:order-2;
	}
	.layout-1x2:nth-of-type(odd) > .second {
		@apply lg:order-1;
	}
}

@layer utilities {
	.btn-outline {
		@apply gradient-border bg-noise250 
		grid w-full place-items-center rounded-lg  text-center  font-extralight hover:scale-[0.99] active:scale-[0.99] max-md:h-[47px] max-md:max-w-[88px] max-md:text-[12px]/[11.6px] md:h-[68px] md:max-w-[130px] md:text-[16px]/[15.47px] lg:h-[92px] lg:max-w-[175px] 
		lg:text-[24px]/[23.21px];
	}

	.bg-noise {
		background-image: url("./../../public/assets/images/bg-noise.png");
	}
	.bg-noise250 {
		background-image: url("./../../public/assets/images/bg-noise250.png");
	}
	.bg-noise1800 {
		background-image: url("./../../public/assets/images/bg-noise1800x600.png");
	}
}

/* body header + * {
	flex-grow: 1;
} */

@keyframes NavSlide {
	from {
		transform: translateX(-85px);
	}
}
@keyframes InfiniteRotate {
	0% {
		transform: rotate(0deg);
		opacity: 0.5;
	}
	100% {
		transform: rotate(360deg);
		opacity: 1;
	}
}
@keyframes moveX {
	0% {
		translate: -2px 0;
	}
	100% {
		translate: 5px 0;
	}
}
.moveX {
	animation: moveX 1s ease-in-out infinite alternate-reverse;
}
.infinite-rotate {
	animation: InfiniteRotate 2s ease-out infinite;
}
.navslide-anim {
	animation: NavSlide 0.3s ease forwards;
}
