/* @import "./css/fonts.css"; */
@import "./css/colors.css";
@import "./css/Typography.css";
@import "./css/utils.css";
@import "./css/animations.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --delay: 1s;
    --pt: 70px;
    --pb: 70px;
    --navbar-width: 82px;
    @apply [--border-width:2px] xl:[--border-width:3px] min-[1600px]:[--border-width:3.5px];
  }
  html {
    @apply scroll-pt-[86px] scroll-smooth;
  }

  @media (min-width: "1200px") {
    :root {
      --border-width: 4px;
    }
  }
  body {
    @apply mx-auto   grid
		bg-light font-mono-sans text-primary-dark  dark:bg-dark dark:text-white
		dark:[--gradient-border-color:var(--dark-gradient-border)] lg:grid-cols-[auto_1fr];

    grid-template-areas:
      "header main main"
      "header main main"
      "header footer footer";
    grid-template-columns: 80px 1fr;
  }
  @media (max-width: 1012px) {
    body {
      grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    }
  }
  p {
    /* @apply text-primary-dark dark:text-gray; */
    color: var(--primary-text-color);
  }
}
@layer components {
  .btn {
    border-radius: 6px;
    padding: 8px 28px 8px 28px;
  }
  .gradient-border {
    @apply relative;
  }
  .gradient-border > * {
    @apply z-10;
  }

  .gradient-border::before {
    --light-gradient-border: linear-gradient(143.39deg, rgba(169, 169, 169, 0.6) 0%, rgba(225, 225, 225, 0.33) 129.61%);
    @apply absolute inset-0 -z-40 h-full w-full rounded-lg [--gradient-border-color:var(--light-gradient-border)] dark:[--gradient-border-color:var(--dark-gradient-border)];
    content: "";
    background-image: var(--gradient-border-color);
  }
  .gradient-border::after {
    @apply absolute left-[calc(var(--border-width)/2)] top-[calc(var(--border-width)/2)]  -z-30 rounded-lg bg-light dark:bg-dark;
    width: calc(100% - var(--border-width));
    height: calc(100% - var(--border-width));
    content: "";
  }
}

@layer utilities {
  .btn-outline {
    @apply gradient-border
		 /* bg-noise250  */
		grid w-full place-items-center rounded-lg  text-center  font-extralight 
		max-md:h-[47px]  max-md:text-p12 md:h-[68px] md:max-w-[130px] md:text-p16 lg:h-[92px] lg:max-w-[175px] 
		lg:text-p24/[23.21px];
  }

  .scaleAnim {
    animation: scaleAnim 0.3s ease-in-out;
  }
}

.swiper-slide-next .back-card {
  @apply md:!block;
}

#ui-ux-carousel .swiper-slide-active .back-card {
  @apply max-md:!block;
}
#ui-ux-carousel .swiper-slide-active {
  @apply md:scaleAnim max-md:scale-x-[1.02] max-md:scale-y-[1.03];
}
#ui-ux-carousel .swiper-slide-next {
  @apply md:scaleAnim md:scale-x-105 md:scale-y-[1.08];
}
[data-swiper-slide="ui-ux-carousel"] {
  @apply flex items-center justify-center;
}

[data-swiper-slide="mobile-dev"] {
  @apply flex items-center justify-center;
}

.line-layout {
  display: grid;
  grid-template-columns: minmax(30px, 70px) 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "line main"
    "line main";
}
@media (max-width: 1014px) {
  .line-layout {
    grid-template-columns: 0 1fr;
  }
}
@media (min-width: 1014px) {
  .line-layout {
    grid-template-columns: 50px 1fr;
  }
}
@media (min-width: 1280px) {
  .line-layout {
    grid-template-columns: 70px 1fr;
  }
}
[data-swiper-slide="home"] {
  @apply flex  items-center justify-center;
}

:is(.light #hero) ~ *:nth-of-type(2n) {
  background-color: white !important;
}
#hero ~ * {
  @apply snap-start;
}
/* SPACING ACHIEVED THROUGH PADDING TO AVOID PROBLEM WHEN SWITCHING DARK AND LIGHT THEME */
.section-spacing-p {
  padding-top: var(--pt);
  padding-bottom: var(--pb);
}
/* SPACING ACHIEVED THROUGH MARGIN */
.section-spacing-m {
  margin-top: var(--pt);
  margin-bottom: var(--pb);
}
.section-height {
  min-height: min(800px, 100vh);
}
